body{
background-color: #7d6be7;
font-family: 'Varela Round', sans-serif;
}
.heating1{
    color: white;
    text-align: center;
    position: relative;
    top: 75px;
}
.main_container{
    background-color: white;
    width: 50%;
    display: flex;
    box-shadow: 1px 1px 10px 0px rgb(9, 9, 9);
    border-radius: 5px;
    position: relative;
    top: 85px;
    left: 300px;
    height: 310px;


}
.right_content {
    display: flex;
    justify-content: space-between;
}
.container1{
    width: 50%;
    margin: 20px;
}
.container2{
    width: 50%;
    margin: 20px;
}
input[type=text] {
    border: none;
    border-bottom: 1px solid #201f1f;
    cursor: pointer;
}
input[type=number] {
    border: none;
    border-bottom: 1px solid #201f1f;
    cursor: pointer;
}



button#submit_Btn {
    background-color: blue;
    border: none;
    width: 90%;
    height: 25px;
    color: white;
    font-size: medium;
    position: relative;
    border-radius: 3px;
    top: 60px;
    cursor: pointer;
} 
hr{
border-right: 1px solid black;
}
#right_hr{
    border: 1px solid gray;  
    position: relative;
    bottom: 15px;
}

i#traingle {
    cursor: pointer;
    font-size: 30px;
    position: relative;
    right: 12px;
    top: 15px;
}

h4.heating5 {
    position: relative;
    left: 15px;
}
p{
    display: none;
    color: red;
    font-size: 10px;
    margin: 3px;
}
/* -------------------------------------------js------------------------------ */
.invalid1{
    display: block;
}
.invalid2{
    display: block;
} 


#emp{
   
    height: 30px;
    display: flex;

}

.del_btn{
   display: none;
}

h5 {
    margin-top: 2px;
}
.total{
    display: flex;
    justify-content: space-between;
    margin: 0px 45px 0px 0px;
}
.total_div{
    display: none;
}
.total_div2{
    display: block;
}
#para2{
    position: relative;
    left: 170px;
}

#del_row{
    color: rgb(150, 42, 42);
    font-size: 12px;
    position: relative;
    left: 200px;
    cursor: pointer;
    /* display: none; */
}